
body {
  background-color: #b0d4d5;
  color: black;
  text-align: left;
  font-family: Afacad;
  margin-left: 10%;
  margin-right: 10%;
}
#bg {
  width: 100vw;
  height: 100vh;
  z-index: -999;
  position: fixed;
  top: 0px;
  left: 0px;
}

.heading {
  font-family: 'Agu+Display&family', cursive; 
  text-align: center;
  font-size: 300%;
  color: black;
  text-shadow: #d5b0c1 2px 2px;
}

h2.heading {
  font-size: 200%;
}


.bordered {
  border-style: solid;
  border-color: #d3dbec;
  border-width: 3px;
  padding: 5px;
  border-radius: 9px;
  margin: 5px;
  background-color: #EA0201;
  color: #777777;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #888888;
}

a:hover, a:visited {
  color: #EA0201;
}

hr {
  height: 2px;
  border: 0px;
  background-color: #EA0201;
}

#footer {
  font-size: 120%;
  text-align: center;
}

#nav-list {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-context: center;
  text-align: center;
  list-style-type: none;
  position: relative;
  background-color: #EA0201;
}

#nav-list > li {
  flex-grow: 1;
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
}

#nav-list li a {
  display: inline-block;
  width: 100%;
}

# nav-list ul {
  display: none;
  background-color: #a3abbc;
}

#nav-list li:hover {
  background-color: #a3abbc;
  color: #dedbec;
}

#nav-list li:hover ul {
  display: block;
}

#nav-list li ul {
  list-style-type: none;
  padding: 0px;
  position: absolute;
  width: 100%;
}
